/* Navbar placeholder styling is handled in navbar component */

.main-content {
    max-width: 1200px;
    margin: 20px auto 10px; 

    min-height: calc(100vh - 120px); /* full height minus navbar/footer */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #003366;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
